/*****************************************************************
                    External Fonts
*****************************************************************/

/* Import Google Fonts - Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*****************************************************************
                    Reset and Base Styles
*****************************************************************/
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: 'Roboto', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}

/*****************************************************************
                            Header
*****************************************************************/

/* Header styles */
header {
    background-color: #1F2937;
    padding: 20px 50px;
}

/* Logo styling */
header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

/* Navigation links and hero styling */
header .header-nav-ul *,
header .hero-container p {
    font-size: 18px;
    color: #E5E7EB;
}

/* Header hero main text */
header .hero-container h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

/* Flexbox layout for the header navigation */
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* Flexbox layout for the header navigation ul */
.header-nav-ul {
    display: flex;
    gap: 10px;
}

/* Flexbox layout for the header hero container */
header .hero-container {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

/* Hero sections styling */
.hero-left, 
.hero-right {
    width: 50%;
}

/* Hero styling for right section */
.hero-right p {
    text-align: center;
}

/* Button styling */
button {
    background-color: #3882F6;
    color: white;
}

/*****************************************************************
                    Random Information
*****************************************************************/

/* Flexbox layout and styling for random section */
.random-section {
    flex: 1;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* Flexbox layout for random section container */
.random-section-content {
    display: flex;
    gap: 10px;
}

/* Flexbox layout and styling for random item */
.random-section-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

/* Random image styling */
.random-image {
    width: 80%;
    padding-top: 80%;
    border-radius: 10px;
    border: 2px solid #3882F6;
}

/* Random text styling */
.random-text {
    text-align: center;
}

